<div class="card align-top mr-3 mb-3">
  <div class="card-body">
    <h2>KSQL</h2>
    <label>KSQL</label>
    <input class="console" style="width: 450pt" [(ngModel)]="ksql">
    <br>
    <button class="btn btn-sm btn-primary" *ngIf="!connected" (click)="runAsStatement()">Run as statement</button>
    <button class="btn btn-sm btn-primary" *ngIf="!connected" (click)="runAsQuery()">Run as query</button>
    <button class="btn btn-sm btn-danger" *ngIf="connected" (click)="disconnectSafe()">Stop</button>
    <br>
    <p>{{error}}</p>
    <textarea *ngIf="!showAsTable && output.length > 0" class="console mt-3" style="width: 500pt; height: 500pt">{{output}}</textarea>
    <table class="table table-striped" *ngIf="showAsTable && output.length > 0">
      <tbody>
      <tr *ngFor="let row of output">
        <td class="console" *ngFor="let col of row">
          {{col}}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
