<div class="card align-top mr-3 full-height mb-3" *ngIf="keyValues.length > 0">
  <div class="card-body full-height scrollable">
    <h2>Describe {{this.data['description']['name']}}</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field</th>
        <th>Value</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let keyValue of keyValues">
        <td class="console">{{keyValue[0]}}</td>
        <td class="console">{{keyValue[1]}}</td>
      </tr>
      </tbody>
    </table>

    <h2>Table</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Field</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of table">
        <td class="console">{{row.name}}</td>
        <td class="console">{{row.type}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
