<!--The content below is only a placeholder and can be replaced.-->
<p>Status: {{status}}</p>

<div class="card">
  <h1>Kafka GUI</h1>

</div>

<div class="card">
  <h2>Topics</h2>
  <table *ngIf="topics.length > 0">
    <tr>
      <td>Topic</td>
      <td>Display</td>
    </tr>
    <tr *ngFor="let row of topics">
      <td>{{row}}</td>
      <td>
        <button (click)="display(row)">Show</button>
      </td>
    </tr>
  </table>
</div>

<div class="card">
  <ng-container *ngIf="selectedTopic.length > 0">
    <h3>Post to topic</h3>
    <input [(ngModel)]="postToTopicInput">
    <button (click)="postToTopic()">Post</button>
    <h2>Topic: {{selectedTopic}}</h2>
    <table *ngIf="displayData.length > 0">
      <tr>
        <td *ngFor="let key of keys(displayData[0])">{{key}}</td>
      </tr>
      <tr *ngFor="let row of displayData">
        <td *ngFor="let key of keys(row)">{{row[key]}}</td>
      </tr>
    </table>
  </ng-container>
</div>
