<div class="card align-top mr-3 full-height mb-3">
  <div class="card-body full-height scrollable">
    <h2>Topics</h2>
    <table class="table table-striped" *ngIf="topicList.length > 0">
      <thead>
      <tr>
        <th>Topic</th>
        <th>Messages</th>
        <th>Display</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let row of topicList">
        <td class="console">{{row}}</td>
        <td class="console">
          {{topics[row] < 100 ? topics[row] : '>100'}}
        </td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="topicSelected.next(row)">Show</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
